<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>
    
    <body>
        <h1>Add a Page</h1>
        
        <form id="page_form" method="post" action="{% url 'rango:add_page' category_name_url %}">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
                <br />
            {% endfor %}
            
            <br /><input type="submit" name="submit" value="Create Page" />
            <a href="{% url 'rango:index' %}">Back to Home</a>
        </form>
    </body>
</html>