<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Rango</title>
  </head>
  <body>
    <h1>Rango says...hello world!</h1>
    
    {% if categories %}
        <ul>
            {% for category in categories %}
            <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}
    
    {% if pages %}
        <ul>
            {% for page in pages %}
            <li>{{ page.title }} - {{ page.views }} views</li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no pages yet.</strong>
    {% endif %}
    <a href="/rango/about/">About</a><br />
    <img src="{% static 'rango.jpg' %}" alt="Picture of Rango" /> <!-- New line -->
  </body>
</html>