<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Rango</title>
  </head>
  <body>
    <img src="{% static 'rango.jpg' %}" alt="Picture of Rango" /> <!-- New line -->
    <h1>Rango says.. hello 
    {% if user.is_authenticated %} {{ user.username }}
    {% else %} world
    {% endif %}!</h1>
    {% if categories %}
        <ul>
            {% for category in categories %}
            <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}
    
    {% if pages %}
        <ul>
            {% for page in pages %}
            <li>{{ page.title }} - {{ page.views }} views</li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no pages yet.</strong>
    {% endif %}
    
    {% if user.is_authenticated %}
    <a href="{% url 'rango:restricted' %}">Restricted Page</a><br />
    <a href="{% url 'rango:logout' %}">Logout</a><br />
    {% else %}
    <a href="{% url 'rango:register' %}">Register Here</a><br />
    <a href="{% url 'rango:login' %}">Login</a><br />
    {% endif %}
    
    <a href="{% url 'rango:about' %}">About</a><br />
    <a href="{% url 'rango:add_category' %}">Add a New Category</a><br />
  </body>
</html>