{% extends "rango/base.html" %}

{% block title %}Registering{% endblock %}

{% block body_block %}
    <div class="hero-unit">
        <h1>Register with Rango</h1>
        
        {% if registered %}
        Rango says: <strong>thank you for registering!</strong>
        <a href="{% url 'rango:index' %}">Return to the homepage.</a><br />
        {% else %}
        Rango says: <strong>register here!</strong><br />
        
        <form id="user_form" method="post" action="{% url 'rango:register' %}" enctype="multipart/form-data">
        
            {% csrf_token %}
            <!-- display each form. the as_p method wraps each element in a paragraph
                 (<p>) element. this ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            
            <!-- provide button to click submit form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </div>
{% endblock %}